name: MLflow CI Retraining - Advance

on:
  push:
    branches:
      - main

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup Python
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # Install dependencies
      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas

      # Run MLflow Project
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      # Upload MLflow artifacts 
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns

      # Docker Hub login
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build Docker Image with MLflow 
      - name: Build Docker Image with MLflow
        run: |
          echo "Detecting experiment_id & run_id..."
          EXP_ID=$(ls mlruns | head -n 1)
          RUN_ID=$(ls mlruns/$EXP_ID | head -n 1)

          echo "experiment_id=$EXP_ID"
          echo "run_id=$RUN_ID"

          mlflow models build-docker \
            -m mlruns/$EXP_ID/$RUN_ID/artifacts/model \
            -n ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow

      # Push Docker Image
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow
