name: MLflow CI Retraining - Advance

on:
  push:
    branches:
      - main

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup Python
      - name: Setup Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # Install dependencies
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow scikit-learn pandas

      # Run MLProject (train model & log)
      - name: Run MLProject
        run: |
          mlflow run MLProject --env-manager=local

      # Upload MLflow artifacts (Skilled / Advanced)
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns

      # Docker login
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build Docker image from saved model and push
      - name: Build and Push Docker Image
        run: |
          # Ambil model path dari folder fisik MLProject/model
          MODEL_DIR="MLProject/model"

          # Build Docker image via MLflow
          mlflow models build-docker -m $MODEL_DIR -n ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow:latest

          # Push Docker image ke Docker Hub
          docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow:latest
