name: MLflow CI Retraining - Advance

on:
  push:
    branches:
      - main

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install MLflow
        run: |
          pip install mlflow scikit-learn pandas

      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      # Artifact 
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns

      # Docker Hub Login
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # mlflow build-docker 
      - name: Build Docker Image with MLflow
        run: |
          mlflow models build-docker \
            -m mlruns/0/*/artifacts/model \
            -n ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow
