name: MLflow CI Retraining

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow scikit-learn pandas numpy

    - name: Run MLflow Project (Retraining)
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Check MLflow artifacts
      run: |
        cd MLProject
        echo "Cek folder mlruns:"
        ls mlruns
        echo "Contoh isi artifact:"
        find mlruns -type f | head -n 20

    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns
