name: MLflow CI Retraining - Advance

on:
  push:
    branches:
      - main

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup Python
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # Install dependencies
      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas

      # Run MLflow Project 
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      # Upload MLflow artifacts 
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Detect latest MLflow run
      - name: Detect latest MLflow experiment & run
        id: detect_run
        run: |
          EXP_ID=$(ls mlruns | sort -n | tail -1)
          RUN_ID=$(ls mlruns/$EXP_ID | sort | tail -1)
          echo "experiment_id=$EXP_ID"
          echo "run_id=$RUN_ID"
          echo "EXP_ID=$EXP_ID" >> $GITHUB_ENV
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

      # Build Docker image using MLflow
      - name: Build Docker Image with MLflow
        run: |
          mlflow models build-docker \
            -m mlruns/$EXP_ID/$RUN_ID/artifacts/model \
            -n ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow:latest

      # Push Docker image
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow:latest