name: MLflow CI Retraining - Advance

on:
  push:
    branches:
      - main

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Set up Python
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow scikit-learn pandas

      # Step 4: Run MLflow Project 
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      # Step 5: Upload MLflow artifacts 
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns

      # Step 6: Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 7: Build Docker Image
      - name: Build Docker Image
        run: |
          docker build -t telco-churn-mlflow:latest .

      # Step 8: Tag and Push Docker Image 
      - name: Tag and Push Docker Image
        run: |
          docker tag telco-churn-mlflow:latest ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-mlflow:latest
